[user]
	name = Philippe Loctaux
	email = p@philippeloctaux.com
	signingkey = 0x4D929F084D86505E
[core]
	editor = vim
[push]
	default = simple
[sendemail]
	smtpserver = msmtp -a plcom
	confirm = auto
[commit]
	gpgsign = false
[init]
	templatedir = ~/.git_template
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
