[user]
	name = Philippe Loctaux
	email = loctauxphilippe@gmail.com
	signingkey = 0x4D929F084D86505E
[core]
	editor = vim
[push]
	default = simple
[sendemail]
	smtpserver = /usr/bin/msmtp
	confirm = auto
[commit]
	gpgsign = false
[init]
	templatedir = ~/.git_template
[credential]
	#helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring # ubuntu
	helper = /usr/lib/git-core/git-credential-gnome-keyring # arch
