# x4m3's default editorconfig
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,h}]
indent_style = tab
indent_size = 8

[*.md]
trim_trailing_whitespace = false

[*.{html,css,js}]
indent_style = space
indent_size = 2
