export DIRENV_WARN_TIMEOUT=20s

export GIT_AUTHOR_NAME="Philippe Loctaux"
export GIT_AUTHOR_EMAIL="p@philippeloctaux.com"
export GIT_COMMITTER_NAME="Philippe Loctaux"
export GIT_COMMITTER_EMAIL="p@philippeloctaux.com"

use nix
