`i3` to install the i3 group
`xfce4-terminal` good terminal replacement if gnome's not installed
`network-manager-applet` to get it in the sys tray, run `nm-applet` to start it
`gnome-keyring` and `libsecret`
`pactl` on the x1 carbon to get the sound
`feh` to set the wallpaper
`rofi` to get the apps launcher thing
`alarm-clock-applet` to wake up in the morning
AUR: `light-git` for brightness control (x1 carbon? only?)
AUR: `pasystray` for sound with pulse audio (in ubuntu repos)
