`i3-wm` and `i3status` to install i3 (AUR: i3-git and i3status-git)
`xfce4-terminal` good terminal replacement if gnome's not installed
`network-manager-applet` , run `nm-applet` to start the sys tray
`gnome-keyring` and `libsecret`
`pulseaudio` to adjust sound with audio keys
`feh` to set the wallpaper
`rofi` to get the apps launcher thing
`lightdm` for login and lockscreen -> see point config
`ttf-freefont` font used for i3
`xorg-xbacklight` for brightness control
`gnome-screenshot` for screenshots
repo43: `alarm-clock-applet` to wake up in the morning
