`i3-wm` and `i3status-rs` to install i3 (AUR: i3-git and i3status-rust-git + ttf-font-awesome-4 for the font)
`st` with patches + font (check config.h in point/st/config.h)
`network-manager-applet` , run `nm-applet` to start the sys tray
`gnome-keyring` and `libsecret`
`pulseaudio` to adjust sound with audio keys
`feh` to set the wallpaper
`rofi` to get the apps launcher thing
`lightdm` for login -> see point config
`ttf-freefont` font used for i3
`xorg-xbacklight` for brightness control
`gnome-screenshot` for screenshots
`xscreensaver` screen lock -> see point config
